{% extends "base.html" %}

{% block title %}Random rants{% endblock %}

{% block content %}
{% load markup %}
{% if post_list %}
    {% for post in post_list %}
       {% if forloop.first %}
         <p class="post_title"><a title="Read" class="title_link" href="/post/{{ post.id }}/">{{ post.title }}</a></p>
         <div id="hr_bar">&nbsp;</div>

         <div class="post_body">
	   {{ post.body|textile }}
	 </div>

	 <p class="post_date">{{ post.pub_date|date:"F d, Y" }}</p>

	 {% if post.comments_enable %}
  	   <a href="/post/{{ post.pk }}/#comments">Comment</a>
	 {% endif %}
	  
	  {% if not forloop.last %}
	    <p style="text-align:center;font-size:1em;color:#aaa;">* * *</p>
	  {% endif %}
        {% endif %}

	{% if not forloop.first %}
         <span id="index_title">
                 <a title="Read" 
                    class="title_link" 
                    href="/post/{{ post.id }}/">{{ post.title }}</a>
         </span><span id="index_date">-&nbsp;{{ post.pub_date|date:"N d, Y" }}</span><br />
	{% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
